<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <header>
    <section>

      <div id="menu">
        <div id="logo">
          <a href="/" class="logo"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
        </div>
        <div class="links">
          <a href="/about" class="link">Sobre</a>
          <a href="/recipes" class="link">Receitas</a>
        </div>
      </div>

    </section>
  </header>

  {% block content %}{% endblock %}

  <div id="footer">
    <footer>
      <p>Todos os direitos reservados, Receitas Foodfy</p>
    </footer>
  </div>
  
</html>
