{% extends 'layout.njk' %}

{% block content %}
<div class="container">
    <h1>Faaala Dev!</h1>
    <p>Essa é uma página dedicada à você, que quer conhecer mais sobre a rocketseat.</p>
    <p>Aqui você pode saber mais sobre os nossos cursos, entrar em contato conosco, e saber sobre a empresa, clicando na opção
        "Sobre" no menu, ou <a class="link_click-here" href="about">Clicando Aqui</a>
    </p>
</div>

<div id="links-footer" class="links">
  {% for item in itens %}
    <a href="{{item.link}}" target="_blank">{{item.media}}</a>
  {% endfor %}
</div>

{% endblock %}