<!DOCTYPE html>
<html>
  <head>
      <title>Gui Illescas</title>
      <link rel="stylesheet" href="/css/style.css">
      {% block head %}
      {% endblock %}
  </head>

  <body>
      <header>
          <div class="links">
              <a href="/">Sobre</a>
              <a href="/classes">Músicas Preferidas</a>
          </div>
      </header>

  {% block content %}{% endblock %}
      
  </body>
</html>