{% extends 'layout.njk' %}


{% block content %}
<div class="container">
  <img src="https://camo.githubusercontent.com/e3a00cb35e63ebc807f3d6c3178e1f17c24a70f3/68747470733a2f2f726f636b6574736561742e636f6d2e62722f7374617469632f6f672e706e67" alt="Imagem da Rocketseat" srcset="">
  <p>A Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.</p>
  <p class="techs">As principais tecnologias que têm o foco da empresa são:</p>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ul>
</div>

<div id="links-footer" class="links">
  <a href="https://github.com/rocketseat/" target="_blank">GutHub</a>
  <a href="https://facebook.com/rocketseat/" target="_blank">Facebook</a>
  <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">Linkedin</a>
</div>
{% endblock %}
