{% extends 'layout.njk' %}

{% block content %}

<div class="title">
  <p>Cursos ofertados pela <a class="link_click-here" href="https://rocketseat.com.br">Rocketseat</a>:</p>
</div>

<section id="hamburger">
  <div class="cards">
    <div class="card" id="starter">
      <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="" href="https://rocketseat.com.br/starter" target="_blank">
      <h1>3 Módulos</h1>
      <h2>Free</h2>
    </div>
    <div class="card" id="launchbase">
      <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="" href="https://rocketseat.com.br/launchbase" target="_blank">
      <h1>3 Módulos</h1>
      <h2>R$ 980,00</h2>
    </div>
    <div class="card" id="gostack">
      <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="">
      <h1>3 Módulos</h1>
      <h2>R$ 1.980,00</h2>
    </div>
  </div>


</section>

<script src="/js/main.js"></script>

{% endblock %}