{% extends 'layout.njk' %}

{% block content %}

<div class="card">

  <section
    class="img"
    style="background: url(https://source.unsplash.com/collection/2433990/500x500) no-repeat center / cover">
  </section>

  <section class="infos">

    <form method="POST" action="/students?_method=PUT">
      <h3>Editar aluno</h3>

      {% include 'students/fields.njk' %}
      
      <input type="hidden" name="id" value={{student.id}}>
      <button href="/students/{{student.id}}" class="generalBtn" type="submit">Salvar</button>
    </form>

    <form method="POST" action="/students?_method=DELETE">
      <input type="hidden" name="id" value="{{student.id}}">
      <button class="generalBtn" id="deleteBtn" type="submit">Deletar</button>
    </form>

  </section>



</div>
{% endblock content %}